@using FlowHub.Models
@using FlowHub.ViewModels
@model DashboardViewModel<ApplicationUser>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>@("FlowHub | " + ViewBag.Title)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/ico" href="~/dist/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="~/dist/css/dashboard.css">
	@RenderSection("Styles", false)
</head>
<body>
  <div class="nav">
    <ul class="nav__menu">
      <li><a href="@Url.Action("Index", "Dashboard")" class="nav__menu__logo"><img src="~/dist/images/logo.png"></a></li>
      <li><a href="@Url.Action("Index", "Dashboard")">Home</a></li>
      <li><a href="@Url.Action("Accounts", "Dashboard")">Accounts</a></li>
      <li><a href="@Url.Action("Team", "Dashboard")">Team</a></li>
    </ul>
		<div class="nav__actions">
			<div>
				<a href="@Url.Action("Settings", "Manage")" title="Settings"></a>
				<img src="~/dist/images/avatar.png">
				@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "sign-out" }))
				{
					@Html.AntiForgeryToken()
					<a href="javascript:document.getElementById('sign-out').submit()" title="Sign out"></a>
				}
				
			</div>
		</div>
  </div>
  <div class="main">
    <div class="content">
      @RenderBody()
    </div>
  </div>
  @RenderSection("scripts", required: false)
</body>
</html>
