<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/ico" href="~/dist/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="~/dist/css/main.css">
</head>
<body class="@ViewBag.Type">
  <div class="header container clearfix">
    <a href="@Url.Action("Index", "Home")" class="header__logo"><img src="~/dist/images/logo.png"></a>
    <div class="header__actions">
      <a href="@Url.Action("Login", "Account")" class="btn btn-medium btn-bolded header__actions__action header__actions__action--sign-in">Sign In</a>
      <a href="@Url.Action("Register", "Account")" class="btn btn-medium btn-bolded call-to-action header__actions__action header__actions__action--sign-up">Sign Up</a>
    </div>
  </div>
  @RenderBody()
  @RenderSection("scripts", required: false)
</body>
</html>