@using FlowHub.Models
@using FlowHub.ViewModels
@model DashboardViewModel<List<SocialMediaAccountViewModel>, ApplicationUser>
@{
    /**/

    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="posts-nav">
    <ul class="clearfix">
        <li><a href="javascript:;" data-href="all" class="active">All posts</a></li>
        <li><a href="javascript:;" data-href="facebook">Facebook</a></li>
        <li><a href="javascript:;" data-href="twitter">Twitter</a></li>
    </ul>
</div>
<div class="content-wrapper">
    <div class="dashboard-section dashboard-section--post-composer">
        <h5 class="new-post-title">Share your thoughts</h5>
        <div class="post-composer">
            <textarea id="Test" name="Test" class="post-composer__textbox" placeholder="What's on your mind?"></textarea>
            <div class="post-composer__manager">
                <div class="post-composer__uploader">
                    <div class="post-composer__uploader__uploaded">
                        <div class="post-composer__uploader__upload">
                            <label for="post-image"></label>
                            <input id="post-image" type="file" multiple />
                        </div>
                    </div>
                </div>
                <div class="post-composer__profiles">
                    <h6>Choose accounts</h6>
                    @foreach (var account in Model.VModel)
                    {
                        <div class="post-composer__profiles__profile">
                            <input id="@account.Id" data-accounttype="@account.Type" data-accountid="@account.Id" type="checkbox" checked />
                            <label for="@account.Id">
                                <img src="@account.PictureUrl" />
                                <span>@account.Name</span>
                            </label>
                        </div>
                    }
                </div>
                <div class="post-composer__footer clearfix">
                    <button class="btn btn-default btn-small btn-bolded post-btn">Post</button>
                    <div class="post-composer__actions clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-section dashboard-section--post-presenter">
        <div class="posts-presenter" data-fbAcursor="" data-twAcursor="">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/dist/js/posts.js")
}