@using FlowHub.Models
@using FlowHub.ViewModels
@model Tuple<ApplicationUser, Dictionary<string, SocialMediaAccountViewModel>>
<div class="team__body__sidebar team__body__sidebar--left team__body__sidebar--nav">
    <div class="sidebar__section">
        @if (Model.Item1.Team.LeaderId == Model.Item1.Id)
        {
            <ul>
                <li><a id="1" href="javascript:;" class="active-subsection">Team</a></li>
                <li><a id="2" href="javascript:;">Pages</a></li>
                <li><a id="3" href="javascript:;">Members</a></li>
            </ul>
        }
        else
        {
            <ul>
                <li><a id="1" href="javascript:;" class="active-subsection">Pages</a></li>
            </ul>
        }
    </div>
</div>
<div class="team__body__content team__body__content--raw team__body__content--settings">
    @if (Model.Item1.Team.LeaderId == Model.Item1.Id)
    {
        <div class="subsection subsection-1">
            <div class="basic">
                <h2>General</h2>
                @{Html.RenderPartial("~/Views/Shared/_TeamFormTemplate.cshtml", Model.Item1.Team);}
                <div class="actions clearfix">
                    <button type="button" class="btn btn-default update-team">Update</button>
                </div>
            </div>
            <div class="team-deletion">
                <h2>Delete team</h2>
                <div>
                    <div><p>Once you delete your team, there is no going back. Please be certain of the actions you plan to make.</p></div>
                    <div><button type="button" class="btn btn-danger delete-team">Delete</button></div>
                </div>
            </div>
        </div>
    }
    <div class="subsection subsection-2" style="display: none">
        <div class="accounts">
            <h2>Connected pages</h2>
            <p>Connect your accounts and allow your team help you managing them.</p>
            <ul class="connect-teams">
                @if (Model.Item2.ContainsKey("facebook"))
                {
                    <li class="disconnect">
                        <div>
                            <img src="@Model.Item2["facebook"].PictureUrl" />
                            <div>@Model.Item2["facebook"].Name</div>
                        </div>
                        <div>
                            @Html.ActionLink("Disconnect", "FacebookTeamDisconnect", "OAuth")
                        </div>
                    </li>
                }
                else
                {
                    <li>
                        <div>
                            <img src="~/dist/images/fb.png" />
                            <div>Facebook</div>
                        </div>
                        <div>
                            @Html.ActionLink("Connect", "FacebookTeamLogin", "OAuth")
                        </div>
                    </li>
                }
                @if (Model.Item2.ContainsKey("twitter"))
                {
                    <li class="disconnect">
                        <div>
                            <img src="@Model.Item2["twitter"].PictureUrl" />
                            <div>@Model.Item2["twitter"].Name</div>
                        </div>
                        <div>
                            @Html.ActionLink("Disconnect", "TwitterTeamDisconnect", "OAuth")
                        </div>
                    </li>
                }
                else
                {
                    <li>
                        <div>
                            <img src="~/dist/images/tw.png" />
                            <div>Twitter</div>
                        </div>
                        <div>
                            @Html.ActionLink("Connect", "TwitterTeamLogin", "OAuth")
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    @if (Model.Item1.Team.LeaderId == Model.Item1.Id)
    {
        <div class="subsection subsection-3" style="display: none;">
            <div class="add-members clearfix">
                <h2>Add members</h2>
                <button type="button" class="btn btn-default add-members-team">Add</button>
            </div>
            <div class="remove-members clearfix">
                <h2>Remove members</h2>
                <p>Select the members you want to remove from the team</p>
                <ul>
                    @if (Model.Item1.Team.ApplicationUsers.Count == 0)
                    {
                        <li class="no-members">There are currently no other members in your team to remove</li>
                    }
                    @foreach (var member in Model.Item1.Team.ApplicationUsers)
                    {
                        <li>
                            <div>
                                <img src="/Avatars/@member.Avatar" />
                            </div>
                            <div>
                                <div>@(member.Name + " " + member.Surname)</div>
                                <div class="user-email">@member.Email</div>
                            </div>
                            <div><button type="button" class="remove-member"></button></div>
                        </li>
                    }
                </ul>
                <button type="button" class="btn btn-default remove-members-team">Remove</button>
            </div>
        </div>
    }
    <div class="subsection subsection-3">
    </div>
</div>
